# Project files
libpimeval/build/
libpimeval/lib/
result-local.txt

# LSP
compile_commands.json
.cache

# C++ object files
*.o
*.dSYM/
*.out

# Editors
.vscode/

repomix-output.*

PIMbench/vgg16/PIM/normal_vgg16.txt
PIMbench/vgg16/PIM/on_cnn_vgg16.txt
PIMbench/results/*.txt
